{% extends 'base.html' %}
{% import 'macros.html' as macro%}
{% block content %}

<style>
    body {
        
        background-color: #D7D8DA;
    }
</style>

{% for alert in get_flashed_messages() %}
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ alert }}
</div>
{% endfor %}
<div class="container-fluid display">
    <div class="card-deck">
        <div class="card border-primary display">
            <div class="card-header bg-transparent border-primary">
                <h4> <strong> All on Sports blog</strong></h4>
            </div>
            <div class="card-body text-primary">
                <h5 class="card-title">Get Latest Sports Articles</h5>
                <p class="card-text">Sport is about a range of specific activities which involves competition and requires physical conditioning and skills. A good way to define it would be to say, "It is a structured physical activity, usually competitive, that requires complex skills and a high level of individual commitment and motivation".The best short articles and essays about sports Interesting sport articles and sports essays by famous authors</p>
            </div>
            <div class="bg-transparent border-primary"><a href="/blogs/sports"
                    class="btn btn-outline-dark float-right">View
                    Blogs</a></div>
        </div>

        <div class="card border-primary display">
            <div class="card-header bg-transparent border-primary">
                <h4> <strong>All on Travel Blog</strong></h4>
            </div>
            <div class="card-body text-primary">
                <h5 class="card-title">Get the Latest Travel Articles</h5>
                <p class="card-text">My experience for  Highlighting some of my favorite travel blogs that can help you travel better informative and inspirational features, destination roundups, travel ideas, tips and beautiful photos in order to help you plan your next holiday .</p>
            </div>
            <div class="bg-transparent border-primary"><a href="/blogs/travel"
                    class="btn btn-outline-dark float-right">View
                    Blogs</a></div>
        </div>

        <div class="card border-primary display">
            <div class="card-header bg-transparent border-primary">
                <h4> <strong>All on Fitness Blogs</strong></h4>
            </div>
            <div class="card-body text-primary">
                <h5 class="card-title">Get the Best Fitness Articles</h5>
                <p class="card-text">Exercising regularly, every day if possible, is the single most important thing you can do for your health. In the short term, exercise helps to control appetite, boost mood, and improve sleep. In the long term, it reduces the risk of heart disease, stroke, diabetes, dementia, depression, and many cancers. The Centers for Disease Control and Prevention for Fitness enthusiasts like you and me need the help of experts to stay focused and
                    motivated.</p>
            </div>
            <div class="bg-transparent border-primary"><a href="/blogs/fitness"
                    class="btn btn-outline-dark float-right">View
                    Blogs</a></div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <hr>
    <div class="card-deck">
        <div class="card border-primary display">
            <div class="card-header bg-transparent border-primary">
                <h4> <strong>All on Fashion Blogs</strong></h4>
            </div>
            <div class="card-body text-primary">
                <h5 class="card-title">Exciting Fashion Articles</h5>
                <p class="card-text"> Fashion is a popular aesthetic expression at a certain time and in a certain context, especially in clothing, footwear, lifestyle, accessories, makeup, hairstyle and body proportions.[1] Whereas a trend often connotes a very specific aesthetic expression, and often lasting shorter than a season, fashion is a distinctive and industry-supported expression traditionally tied to the fashion season and collections</p>
            </div>
            <div class="bg-transparent border-primary"><a href="/blogs/fashion"
                    class="btn btn-outline-dark float-right">View
                    Blogs</a></div>
        </div>

        <div class="card border-primary display">
            <div class="card-header bg-transparent border-primary">
                <h4> <strong>All on Food Blog</strong></h4>
            </div>
            <div class="card-body text-primary">
                <h5 class="card-title">Delicious Food  Articles</h5>
                <p class="card-text">Find out everything there is to know about food and stay updated on the latest health news with the comprehensive articles and interactive features focused on the food you eat. Food Blog that shares recipes and cooking videos from all over the world with
                    focus on using ingredients readily available.</p>
            </div>
            <div class="bg-transparent border-primary"><a href="/blogs/food"
                    class="btn btn-outline-dark float-right">View
                    Blogs</a></div>
        </div>
        <div class="card border-primary display">
            <div class="card-header bg-transparent border-primary">
                <h4> <strong>All on Political Blog</strong></h4>
            </div>
            <div class="card-body text-primary">
                <h5 class="card-title">Get prominent political Articles</h5>
                <p class="card-text">It refers to achieving and exercising positions of governance—organized control over a human community, particularly a state.The academic study focusing on just politics, which is therefore more targeted than general political science, is sometimes referred to as politology (not to be confused with politicology, a synonym for political science Check out this articles for the best and juiciest political blogs on the web</p>
            </div>
            <div class="bg-transparent border-primary"><a href="/blogs/politics"
                    class="btn btn-outline-dark float-right">View
                    Blogs</a></div>
        </div>
    </div>
</div>
<footer >
    <div class="container-fluid quotes">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Quotes</h4>
                <p class="text-center">"{{quote}}"</p>
                <p class="text-center"><strong>Author: {{author}}</strong></p>
            </div>
        </div>
    </div>
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Subscribe to Amazing blog</h5>
        </li>
        <li class="list-inline-item">
            <a href="/subscription" class="btn btn-outline-white btn-rounded">Sign up!</a>
        </li>
    </ul>
</footer>


{% endblock%}
